# Replace with your own: user, password, host, port, database name.
DATABASE_URL=postgresql://user:password@localhost:5432/semantic_audio

#RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_URL=amqp://user:password@rabbitmq:5672/

OPENAI_API_KEY=sk-proj-something...

INTERNAL_API_KEY=super_secret_key_987654321
BACKEND_URL=http://backend:8000
EMBEDDING_ENGINE=openai